*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

article{
    padding: 0;
}
.right-button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.modal-contain{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    display:grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.custom-overlay{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #0004;
    position: absolute;
}
.custom-modal{
    z-index: 2;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: 350px;
}
.custom-modal-header{
    border-bottom: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 1.4em;
    }
    button{
        position: relative;
        bottom: 5px;
    }
}
.custom-modal-body{
    border-bottom: 1px gray solid;
}
.custom-modal-footer{
    display: flex;
    justify-content: end;
}

.todo-title{
    background-color: rgb(72, 72, 255);
    text-shadow: 3px 3px 0 black;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 2.4em;
    position: relative;
    span{
        width: 55px;
        height: 60px;
        position: absolute;
        left: 50px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-bottom-color: white;
    }
}

.cards{
    padding: 20px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; */
}
.card{
    border: 3px solid black;
    border-radius: 0;
    box-shadow: 5px 5px 0 orangered;
    position: relative;
    padding: 5px;
    h2{
        position: absolute;
        right: -20px;
        top: -20px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px;
        color: white;
        font-size: 1em;
        cursor: pointer;
        width: 75px;
        text-align: center;
    }
    h1{
        font-size: 1.5em;
        width: calc(100% - 20px);
    }
    p{
        font-size: 1em;
    }
}
.High{
    background-color: #ffcccc;
    box-shadow: 5px 5px 0 rgba(255, 0, 0, 0.4);
    h2{
        background-color: red;
    }
}
.Medium{
    background-color: #fff2cc;
    box-shadow: 5px 5px 0 rgba(255, 165, 0, 0.4);
    h2{
        background-color: goldenrod;
    }
}
.Low{
    background-color: #ccffcc;
    box-shadow: 5px 5px 0 rgba(0, 128, 0, 0.4);
    h2{
        background-color: green;
    }
}
.others{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 7.5px;
    .delete-icon:hover{
        color: red;
        cursor: pointer;
    }
    .edit-icon:hover{
        color: orange;
        font-weight: 600;
        cursor: pointer;
    }
    .check-icon{
        scale: 2;
    }
    .check-icon:hover{
        color: rgb(0, 255, 0);
        font-weight: 600;
        cursor: pointer;
    }
}
.line-through {
    text-decoration: line-through;
}
.error{
    color: red;
    font-weight: bold;
}